img {
  width: 50vw;
  height: auto;
}

section {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
}

section div {
  width: 50%;
  height: 25vw;
  background: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

span {
  position: absolute;
  top: 0;
  right: 0.5vw;
}

span:hover {
  cursor: pointer;
}

section div input {
  font-size: 2vw;
  padding: 1.5vw 1vw;
  width: 80%;
}

label {
  font-size: 2vw;
  font-family: tahoma;
  color: black;
}

section div button {
  font-size: 2.5vw;
  padding: 1.5vw 1vw;
  background: red;
  color: white;
  border-radius: 0.5vw;
  border: none;
}

.showOff {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin:0;
  height: 100vw;
}
